*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


/* --HEADER NAV-- */

header{
    background: #1f2973;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header h2{
    font-size: 24px;
    color: #f9faf8;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-links li a{
    text-decoration: none;
    color: #e5e7eb;
    margin-left: 20px;
}

/* --HEADER-HERO-- */

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-left h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-left p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 20px 10 0;
}

/* --INFORMATION-- */

.information h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.illustration-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.img-container{
    display: flex;
    flex-direction: column;

}

.img-container p{
    max-width: 200px;
    margin: 10px 0 0 0;
    text-align: center;
}

/* --QUOTE SECTION-- */

article{
    background: #e5e7eb;
    
}

.quote{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.quote p:first-of-type{
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0;
}

.quote p:last-of-type{
    align-self: flex-end;
    margin: 0 50px 0 0;
    font-weight: 900;
    font-size: 20px;
}

/* --SIGN UP SECTION-- */


.sign_up_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background: #3882f6;
    
}

.sign_up_text h3{
    color: #f9faf8;
}

.sign_up_text p{
    color: #e5e7eb;
}

.sign_up_section button{
background: #3882f6;
border: 2px solid #fff;
color: #f9faf8;
font-weight: 600;
padding: 6px 22px;
border-radius: 8px;
}

/* --FOOTER-- */

footer{
   background: #1f2937; 
   color: #e5e7eb;
   text-align: center;
   padding: 25px;
}